.wrapper {
	width: 100%;
	padding: 40px 0;
}

.container {
	@media (min-width:320px) {
		width: 90%;
	}

	@media (min-width:720px) {
		width: 80%;
	}

	@media (min-width:1200px) {
		width: 1024px;
	}

	height: 300px;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

.consultingFooter {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
	font-family: TildaSans-bold;
	font-size: 32px;
	padding-top: 40px;
}