.wrapper {
	padding: 40px 0;
	background-color: #F5F5F7;
}

.container {

	@media (min-width:320px) {
		width: 90%;
	}

	@media (min-width:720px) {
		width: 80%;
	}

	@media (min-width:1200px) {
		width: 1024px;
	}

	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.top {
	@media (min-width:320px) {
		flex-direction: column;
	}

	@media (min-width:720px) {
		flex-direction: row;
	}

	height: 300px;
	display: flex;
	border-bottom: 1px solid #000;
}

.bottom {
	padding-top: 40px;
	display: flex;
	flex-direction: column;
}

.bottomTitle {
	font-size: 32px;
	font-weight: 600;
	text-align: center !important;
	padding-bottom: 40px;
}

.bottomElements {
	display: flex;
	justify-content: space-between;
	align-items: center;

	min-height: 250px;

	@media (min-width:320px) {
		flex-direction: column;
	}

	@media (min-width:720px) {
		flex-direction: row;
	}
}

.line {

	background-color: #d9d9d9;

	@media (min-width:320px) {
		height: 1px;
		width: 100%;
	}

	@media (min-width:720px) {
		min-height: 250px;
		width: 1px;
	}
}